@import 'variables';

.lmj-cart {
	color: $white;
	background-color: $green;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;

	.lmj-cart-add-button {
		margin-left: 32px;
		cursor: pointer;
	}

	.article-item {
		margin-bottom: 5px;
		display: flex;
		justify-content: flex-start;

		& div {
			margin-left: 20px;
		}

		.lmj-cart-toggle-button {
			margin: 10px 0;

			.big-title {
				text-transform: capitalize;
			}
		}
	}

	.lmj-cart-closed {
		padding: 32px;
		width: 300px;

		& > button {
			color: black;
		}
	}
}
