@import 'variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 10px 0;
}

p {
  margin: 0;
}

.btn {
  outline: none;
	border: none;
	border-radius: 5px;
	font-weight: 600;
	cursor: pointer;
	align-self: center;
	padding: 5px 8px;

  &-primary {
    background-color: $green;
    color: $white;
  }

  &-secondary {
    background-color: $white;
    border: 1px solid $green;
    color: $green;
  }
}

.align-center {
  text-align: center;
  }
