
.lmj-plant-item {
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;

	.lmj-plant-item-cover {
		height: 220px;
		width: 220px;
		border-radius: 20px;
	}

	.block-desc {
		display: flex;
		justify-content: space-between;

		.care-scale-info {
			margin: 10px 20px;
		}
	}
}